/server/node_modules/
/server/dist/models/
/server/dist/routes/
/server/dist/static/
/server/dist/app.js
/server/dist/oauth.js
/server/dist/gmailAuth.js
/server/src/gmailAuth.js
/.project
/.vscode
/db/*
package-lock.json