@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yy1vmj');
  src:  url('fonts/icomoon.eot?yy1vmj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yy1vmj') format('truetype'),
    url('fonts/icomoon.woff?yy1vmj') format('woff'),
    url('fonts/icomoon.svg?yy1vmj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attachment:before {
  content: "\e900";
}
.icon-coterie:before {
  content: "\e901";
}
.icon-dashboard:before {
  content: "\e902";
}
.icon-live:before {
  content: "\e903";
}
.icon-places:before {
  content: "\e904";
}
.icon-players:before {
  content: "\e905";
}
.icon-stories:before {
  content: "\e906";
}
